.events-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter', sans-serif; 
}

.event-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    border-left: 5px solid #f1c40f;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.2s;
}

.event-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.event-content {
    flex: 1;
}

.event-title {
    margin: 0 0 8px 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1a1a1a;
}

.info-badge {
    background: #f0f0f0;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: bold;
    color: #555;
}

.event-details {
    margin-top: 10px;
    color: #666;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.event-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.event-image {
    width: 160px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

/* .status-pill {
    background: #d35400; 
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
} */